.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.nav_user {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: var(--nav-color);
}

.nav_user svg {
    stroke: var(--nav-color);
    color: var(--nav-color);
}

.navlinks {
    display: flex;
    gap:20px;
    align-items: center;
    text-decoration: none;
}

.navlinks a {
    text-decoration: none;
    color: var(--nav-color);
}